@charset "utf-8";
/* CSS Document */

html {overflow-y: scroll}
body {width:100%;height:100%;margin:0;padding:0;background: black;}
hr {display:none;}
img,fieldset {border:0 none;}
dl,ul,ol,li {list-style: none;}
h1,h2,h3,h4,h5,h6 {font-size: 100%; font-weight: normal}
h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,li,ol,th,td,p,blockquote,form,fieldset,legend,input {margin:0;padding:0;}
q, blockquote {quotes:none;}
q:before, q:after {content:"";}
caption, legend {display:none ;}
a {text-decoration:none; color:#09f;}
a:visited {text-decoration:none; color:#960;}
a:active {text-decoration:none; color:#f30;}
a:hover{text-decoration:none; color:#36f;}
dfn, em, cite, address {font-style:normal ;}
select,button {vertical-align:middle;}
button {border:0 none ; padding:0 ; background:none ; cursor:pointer ;}
body,th,td,input,select,big,button,textarea,p,div,li {font-size:12px;font-family:Tahoma, Helvetica, sans-serif;color:#fff;}

h1, h2 
{
	font-size: 18px;
	font-weight: bold;
}

h2 
{
	font-size: 14px;
}


h3 
{
	font-weight: bold;
	font-size: 14px;
}

.ml25 
{
	margin-left: 25px;
}

.mt15 
{
	margin-top: 15px;
}

.mb5 
{
	margin-bottom: 5px;
}

.note, .tips , .code
{
	margin: 15px 0 7px;
}

.tips, .code-block
{
	margin-left: 25px;
	margin-right: 25px;
	border: 1px solid #777;
	padding: 10px 20px;
	display: block;
}

.code, .code-block 
{
	font-family: "Lucida Console";
}

.code-comment 
{
	color: #777;
	font-family: "Lucida Console";
}

.code-key
{
	color: #06f;
	font-family: "Lucida Console";
}

.code-param 
{
	color: #f90;
	font-style: italic;
	font-family: "Lucida Console";
}

.code-const 
{
	color: #7e28d7;
	font-family: "Lucida Console";
}

.code-hint 
{
	color: #36f;
	font-family: "Lucida Console";
}

.code-attr 
{
	color: #fe0;
}

.code-value 
{
	color: #6f0;
}

.mark-folder 
{
	color: #dc0;
}

.mark-file 
{
	color: #6e0;
}

.list li 
{
	margin-bottom: 4px;
}

#docMain 
{
	background: url(img/colbg.gif) repeat-y 150px 0px;
	border-top: 1px solid #fff;
	padding: 0 10px 10px;
	overflow: hidden;
}

#tree 
{
	width: 150px;
	float: left;
}

#tree h3 
{
	margin-top: 15px;
}

#docs 
{
	margin-left: 150px;
}

#docs h2 
{
	font-size: 25px;
	margin: 18px 0 8px;
	padding: 5px;
	background: #06f;
	border-radius: 5px;
}

#docs h3 
{
	font-size: 18px;
	background: #f60;
	padding: 5px;
	border-radius: 5px;
	display: inline-block;
	margin-top: 35px;
}

#docs h4 
{
	font-weight: bold;
	margin-top: 35px;
	border-top: 1px solid #fff;
	padding-top: 5px;
	font-size: 15px;
	font-family: "Lucida Console";
}

#docs h4.st, 
#docs h3.st 
{
	margin-top: 10px;
}

body 
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #171a1e;
}

.layout 
{
	max-width: 960px;
	margin: auto;
}

header 
{
	margin-bottom: 10px;
	min-width: 320px;
	background: #171a1f;
}

header .header 
{
	background: url(img/bg_header.png) no-repeat left top;
	background-size: 100% 100%;
	position: relative;
	min-height: 74px;
}

header #logo 
{
	position: absolute;
	bottom: -5px;
	left: 3%;
}

header #menu-btn 
{
	float: right;
	padding: 15px 6px;
	display: none;
}

header #menu-btn img 
{
	border-radius: 5px;
}

header nav 
{
	position: relative;
	overflow: hidden;
	width: 560px;
	margin: 0 auto;
}

header nav .clear 
{
	position: absolute;
	width: 100%;
	background: url(img/bg_header.png) no-repeat center top;
	height: 24px;
}

header nav ul li 
{
	float: left;
	margin: 0 6px;
}

header nav ul li a 
{
	display: block;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #3e4247;
	height: 50px;
	line-height: 50px;
	color: white;
	width: 100px;
	text-align: center;
}



header nav ul #home a
{
	background: #3e4247 url(img/bg_header.png) no-repeat -208px -13px;
	height: 2.31em;
	line-height: 2.31em;
	margin-top: 1.049em;
}

header nav ul #dld a
{
	background: #3e4247 url(img/bg_header.png) no-repeat -319px -6px;
	height: 2.75em;
	line-height: 2.75em;
	margin-top: 0.49em;
}

header nav ul #exm a
{
	background: #3e4247 url(img/bg_header.png) no-repeat -436px -3px;
	height: 2.93em;
    line-height: 2.93em;
    margin-top: 0.21em;
}

header nav ul #spp a
{
	background: #3e4247 url(img/bg_header.png) no-repeat -525px -3px;
	height: 2.93em;
	line-height: 2.93em;
	margin-top: 0.21em;
}

header nav ul #ctt a
{
	background: #3e4247 url(img/bg_header.png) no-repeat -651px -6px;
	height: 2.75em;
    line-height: 2.75em;
    margin-top: 0.49em;
}

header nav ul #cll 
{
	position: fixed;
	right: 10px;
	bottom: 10px;
}

header nav ul #cll a 
{
	line-height: 2.5em;
	height: 2.5em;
	border-radius: 1px;
	width: 80px;
}

header nav ul li a:hover 
{
	color: #171a1e;
	background-color: #f1f1f1!important;
}

.container 
{
	padding: 64px 0;
}

.container iframe 
{
	display:block; 
	width: 100%; 
	height: 320px; 
	border: 0 none;
}

footer 
{
	padding-top: 10px;
}

footer #copyright 
{
	text-align: center;
}

@media screen and (min-width:100px) and (max-width: 960px) 
{
	
header 
{
	position: fixed;
	width: 100%;
}

header #menu-btn 
{
	display: block;
	cursor: pointer;
}

header .header 
{
	min-height: 55px;
}

header nav 
{
	position: absolute;
	right: 7px;
    top: 50px;
	width: 180px;
	display: none;
}

header nav ul 
{
	float: right;
	width: 100%;
}

header nav ul li 
{
	float: none;
	margin: 0 0 1px;
}

header nav ul li a 
{
	background: #333!important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	height: auto!important;
    line-height: 1.0em;
	margin-top: 0 !important;
	width: 100%;
	display: block;
}

header nav ul #cll 
{
	position: static;
}

header nav ul #cll a 
{
	width: auto;
}

}